@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}
@media only screen and (min-width: 375px){
    [class*="col-"] {
        width: 100%;
      }
}
@media only screen and (min-width: 1440px){
    .col-1 {width: 8.33%;}
}
body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Outfit", sans-serif;
}  

.card {
    width: 320px;
    padding: 35px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0px 3px 15px #262626;
    border-radius: 10px;
}
.card img {
    max-width: 100%;
    border-radius: 10px;
}
.title {
    text-align: center;
    margin: 20px;
    font-size: 1.4rem;
    color: hsl(218, 44%, 22%);
}
.card p {
    text-align: center;
    margin-bottom: 20px;
    color: hsl(220, 15%, 55%);
    font-size: 15px;
}